.logout{
	position: absolute;
	top:10px;
	right:20px;
}
Button{
	font-size: 22px;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
    border: 1px solid #555;
    outline: none;
}

input[type=text]:focus {
    background-color: lightblue;
}
td{
	font-size: 18px;
}
th{
	font-size: 22px;
	width: 200px;
	background-color: #989898;
    color: white;
}
tr:nth-child(even){
	background-color: #f2f2f2
}
#c{
	text-align: center;
    vertical-align: middle;
}
h1 {
    font-size: 36px;
}
h2 {
    font-size: 30px;
}
h3{
	font-size: 26px;
}
li{
	font-size: 24px;
	}